.list-advantages__text {
  color: $second-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-bottom: 0;
  margin-top: 0;
}

.topic__link {
  width: 270px;
  height: 120px;
  @extend %align-items;
  background-color: #f5f4fa;
  fill: rgba(175, 177, 184, 1);
}

.topic + .topic {
  margin-left: 30px;
}

.topic {
  margin-bottom: 30px;
}

.list-advantages__header {
  @include font(700, 14px, 1.14, 0.03em);
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 0;
}

.list-advantages__item {
  width: 270px;
  margin-right: 30px;
}
.list-advantages__item:last-child {
  margin-right: 0;
}

.list-advantages {
  display: flex;
}
